body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f2f4f8;
}
.main-content {
    margin-left: 260px;     
    padding: 120px 40px 40px; 
}
.dash-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}
.stats-box {
    display: flex;
    gap: 20px;
}
.stat {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.stat h2 {
    font-size: 30px;
    margin: 0;
}
.stat p {
    margin-top: 8px;
    color: #777;
}
.sidebar {
    position: fixed;
    top: 70px;             
    left: 0;
    width: 260px;
    height: 100%;
    background: #222;
    padding-top: 20px;
}
.sidebar a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.sidebar a:hover, 
.sidebar .active {
    background: #444;
}

/*messages*/
.admin-contain{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:230px;
    background:#1f2937;
    color:#fff;
    padding:20px;
}

.sidebar a{
    display:block;
    color:#fff;
    padding:8px 0;
    text-decoration:none;
}

.sidebar a.active{
    font-weight:bold;
    text-decoration:underline;
}

.content{
    flex:1;
    padding:20px;
}

.stats-box{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-bottom:25px;
}

.stat{
    background:#eef2ff;
    padding:15px;
    border-radius:10px;
    text-align:center;
}

.table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:30px;
}

.table th,
.table td{
    border:1px solid #ddd;
    padding:10px;
}

.thumb{
    width:120px;
    border-radius:6px;
    object-fit:cover;
}

.approve{ color:green; }
.delete{ color:red; }

