*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.footer{
    background: #2d2d2d;
    color: #f1f1f1;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    position: relative;      
    clear: both;             /* prevents overlap with floats */
}

.footer-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}
.footer h3 {
    margin-bottom: 15px;
    color: #ff8c42;
}

.footer p {
    font-size: 14px;
    color: #ccc;
    line-height: 1.6;
}

.footer a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.2s;
}

.footer a:hover {
    color: #ff8c42;
    padding-left: 4px;
}

.social-icons a {
    display: inline-block;
    margin-right: 12px;
    font-size: 24px;
    color: #ccc;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #ff8c42;
    transform: scale(1.25);
    text-shadow: 0 0 10px #ff8c42, 0 0 20px #ff8c42;
    animation: bounce 0.4s ease;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-6px); }
    60% { transform: translateY(3px); }
    100% { transform: translateY(0); }
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #555;
    font-size: 14px;
    color: #999;
}

/*users*/
.admin-users-page {
    display: flex;
    min-height: 100vh;
}
.admin-users-content {
    margin-left: 230px;
    padding: 30px;
    width: calc(100% - 230px);
}

.admin-users-content h1,
.admin-users-content h2 {
    margin-bottom: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    margin-bottom: 35px;
}

.table th {
    background: #ff7a00;
    color: white;
    padding: 14px;
    font-size: 16px;
    text-align: left;
}

.table td {
    padding: 14px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.table tr:hover {
    background: #fff3e6;
}

/* ACTIONS */
.delete {
    color: #d9534f;
    font-weight: 600;
    text-decoration: none;
}

.delete:hover {
    text-decoration: underline;
}

/*EDIT RECIPE PAGE*/
.edit-recipe-page {
    max-width: 1100px;
    margin: 40px auto;
    padding: 10px;
}

.edit-recipe-content {
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.edit-recipe-content h1 {
    font-size: 26px;
    margin-bottom: 20px;
}
label {
    font-weight: 600;
    margin-top: 16px;
    display: block;
    font-size: 18px;
    padding: 8px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 12px 14px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #ff7a00;
    background: white;
    box-shadow: 0 0 0 3px rgba(255,122,0,0.2);
}

input[type="file"] {
    margin-top: 10px;
}

button {
    background: #ff7a00;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background: #e56a00;
}
#back > a{
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    width: 50px;
}

/* IMAGE + VIDEO */
.edit-recipe-content img {
    margin-top: 10px;
    width: 280px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.edit-recipe-content iframe {
    margin-top: 15px;
    border-radius: 12px;
    border: none;
    width: 50%;
    height: 40vh;
}

/* MESSAGES */
.success {
    background: #d1fae5;
    color: #065f46;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.error {
    background: #fee2e2;
    color: #7f1d1d;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
}
/* Tablets */
@media (max-width: 900px) {
    .admin-users-content {
        margin-left: 200px;
        width: calc(100% - 200px);
        padding: 20px;
    }
}

/* Mobile */
@media (max-width: 600px) {

    /* Hide sidebar */
    .sidebar {
        display: none;
    }

    .admin-users-content {
        margin-left: 0;
        width: 100%;
        padding: 15px;
    }

    .edit-recipe-page {
        margin: 20px 10px;
    }

    button,
    a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .table th,
    .table td {
        font-size: 14px;
        padding: 10px;
    }
}

/*admin*/
.admin-contain {
    display: flex;
}
.sidebar {
    width: 230px;
    background: #1f2937;
    color: #fff;
    padding: 25px 20px;
    position: fixed;
    top: 0px;
    bottom: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

.sidebar a {
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #cbd5e1;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px
}

.sidebar a:hover,
.sidebar a.active {
    background: #ff7a00;
    color: white;
}
.content {
    margin-left: 230px;
    padding: 30px;
    width: 100%;
}

.content h1 {
    margin-bottom: 20px;
}

.content h2 {
    margin: 25px 0 15px;
}
.stats-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.stat {
    background: white;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.stat h2 {
    font-size: 30px;
    color: #ff7a00;
}

.stat p {
    margin-top: 5px;
    color: #555;
    font-size: 18px;
}
.table {
    width: 80%;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    margin-left: 100px;
    margin-top: 30px;
}

.table th {
    background: #ff7a00;
    color: white;
    padding: 14px;
    font-size: 20px;
    text-align: left;
}

.table td {
    padding: 14px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    font-size: 18px;
}

.table tr:hover {
    background: #fff4e6;
}

/* IMAGE */
.thumb {
    border-radius: 10px;
    border: 1px solid #ddd;
}
.approve {
    color: #16a34a;
    font-weight: 600;
    text-decoration: none;
}

.approve:hover {
    text-decoration: underline;
}

.delete {
    color: #dc2626;
    font-weight: 600;
    text-decoration: none;
}

.delete:hover {
    text-decoration: underline;
}

.content a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

.content a:hover {
    text-decoration: underline;
}
@media (max-width: 900px) {
    .stats-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        padding: 20px;
    }
}

/* Mobile */
@media (max-width: 600px) {

    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
        width: 100%;
        padding: 15px;
    }

    .stats-box {
        grid-template-columns: 1fr;
    }

    .table th,
    .table td {
        font-size: 14px;
        padding: 10px;
    }

    .thumb {
        width: 80px;
        height: 80px;
    }
}
